.hidden {
    display: none !important;
}

body.modal-opened {
    overflow: hidden;
}

.edit-bar {
    background: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}

/* header */
.admin-header {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.admin-header h2 {
    margin: 0;
}

.edit-btn {
    background: none;
    border: none;
    color: #2c3e50;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0;
}

/* gallerie admin */
.gallery-admin {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 40px;
}

.gallery-admin img {
    width: 100%;
    object-fit: cover;
}

/* modale */
.modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.modal.hidden {
    display: none !important;
}

.modal-content {
    background: #fff;
    width: 600px;
    padding: 40px 60px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close-btn {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 26px;
    cursor: pointer;
}

/* bouton retour */
.back-btn {
    position: absolute;
    top: 25px;
    left: 25px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #000;
    transition: color 0.3s ease;
}

.back-btn:hover {
    color: #1D6154;
}

.back-btn.hidden {
    display: none !important;
}

/* titre modale */
.modal-content h3 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 25px;
    text-align: center;
    color: #000;
}

/* gallerie modale */
#modal-gallery-wrapper.hidden {
    display: none !important;
}

.modal-gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin: 20px 0;
}

.modal-gallery figure {
    position: relative;
}

.modal-gallery img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 4px;
}

.delete-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    background: black;
    color: white;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
}

/* séparateur */
hr {
    width: 100%;
    border: none;
    border-top: 1px solid #ccc;
    margin: 25px 0;
}

/* boutons modale */
.modal-btn {
    background: #1D6154;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    padding: 10px 40px;
    margin-top: 25px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.validate-btn {
    background: #A7A7A7;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    padding: 10px 40px;
    margin: 20px auto 0 auto;
    width: 40%;
    cursor: not-allowed;
    transition: background 0.3s ease;
}

.validate-btn.active {
    background: #1D6154;
    cursor: pointer;
}

/* formulaire ajout photo */
#add-photo-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

#add-photo-form.hidden {
    display: none !important;
}

#add-photo-btn {
    display: block;
    margin: 20px auto 0 auto;
}

.image-upload {
    position: relative;
}

.image-upload-box {
    background-color: #eaf3f8;
    border-radius: 6px;
    text-align: center;
    padding: 20px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    gap: 10px;
}

.image-upload-box.hidden {
    display: none !important;
}

.svg-inline--fa.fa-image {
    width: 80px !important;
    height: 80px !important;
    color: #B9C5CC !important;
}

.image-upload-box p {
    color: #306685;
    background-color: #d3dee4;
    border: none;
    border-radius: 999px;
    padding: 10px 30px;
    font-size: 16px;
    margin-bottom: 5px;
}

.image-upload-box::after {
    content: "jpg, png : 4mo max";
    font-size: 12px;
    color: #757575;
}

.image-upload-box input[type="file"] {
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
}

#preview-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    transform: translate(-50%, -50%);
    object-fit: contain;
    pointer-events: none;
}

#add-photo-form label {
    font-size: 14px;
    color: #000;
    margin-top: 10px;
}

#add-photo-form input,
#add-photo-form select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}